<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentTopic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.wax.servlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登录servlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wax.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuSelectServlet</display-name>
    <servlet-name>StuSelectServlet</servlet-name>
    <servlet-class>com.wax.servlet.StuSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuSelectServlet</servlet-name>
    <url-pattern>/StuSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaSelectServlet</display-name>
    <servlet-name>TeaSelectServlet</servlet-name>
    <servlet-class>com.wax.servlet.TeaSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaSelectServlet</servlet-name>
    <url-pattern>/TeaSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentTopic</display-name>
    <servlet-name>StudentTopic</servlet-name>
    <servlet-class>com.wax.servlet.StudentTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentTopic</servlet-name>
    <url-pattern>/StudentTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectSelectServlet</display-name>
    <servlet-name>SubjectSelectServlet</servlet-name>
    <servlet-class>com.wax.servlet.SubjectSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectSelectServlet</servlet-name>
    <url-pattern>/SubjectSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject1SelectServlet</display-name>
    <servlet-name>Subject1SelectServlet</servlet-name>
    <servlet-class>com.wax.servlet.Subject1SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject1SelectServlet</servlet-name>
    <url-pattern>/Subject1SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject2SelectServlet</display-name>
    <servlet-name>Subject2SelectServlet</servlet-name>
    <servlet-class>com.wax.servlet.Subject2SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject2SelectServlet</servlet-name>
    <url-pattern>/Subject2SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassAddServlet</display-name>
    <servlet-name>ClassAddServlet</servlet-name>
    <servlet-class>com.wax.servlet.ClassAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassAddServlet</servlet-name>
    <url-pattern>/ClassAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAdd</display-name>
    <servlet-name>StudentAdd</servlet-name>
    <servlet-class>com.wax.servlet.StudentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAdd</servlet-name>
    <url-pattern>/StudentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadStudentServlet</display-name>
    <servlet-name>LoadStudentServlet</servlet-name>
    <servlet-class>com.wax.servlet.LoadStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadStudentServlet</servlet-name>
    <url-pattern>/LoadStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>com.wax.servlet.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateServlet</display-name>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <servlet-class>com.wax.servlet.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <url-pattern>/StudentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAddServlet</display-name>
    <servlet-name>TeacherAddServlet</servlet-name>
    <servlet-class>com.wax.servlet.TeacherAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAddServlet</servlet-name>
    <url-pattern>/TeacherAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDeleteServlet</display-name>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <servlet-class>com.wax.servlet.TeacherDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <url-pattern>/TeacherDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherUpdateServlet</display-name>
    <servlet-name>TeacherUpdateServlet</servlet-name>
    <servlet-class>com.wax.servlet.TeacherUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherUpdateServlet</servlet-name>
    <url-pattern>/TeacherUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectedServlet</display-name>
    <servlet-name>SelectedServlet</servlet-name>
    <servlet-class>com.wax.servlet.SelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedServlet</servlet-name>
    <url-pattern>/SelectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSelectServlet</display-name>
    <servlet-name>StudentSelectServlet</servlet-name>
    <servlet-class>com.wax.servlet.StudentSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSelectServlet</servlet-name>
    <url-pattern>/StudentSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSelectTopicServlet</display-name>
    <servlet-name>StudentSelectTopicServlet</servlet-name>
    <servlet-class>com.wax.servlet.StudentSelectTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSelectTopicServlet</servlet-name>
    <url-pattern>/StudentSelectTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicSelectedServlet</display-name>
    <servlet-name>TopicSelectedServlet</servlet-name>
    <servlet-class>com.wax.servlet.TopicSelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicSelectedServlet</servlet-name>
    <url-pattern>/TopicSelectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteTopicServlet</display-name>
    <servlet-name>StudentDeleteTopicServlet</servlet-name>
    <servlet-class>com.wax.servlet.StudentDeleteTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteTopicServlet</servlet-name>
    <url-pattern>/StudentDeleteTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSelect1Servlet</display-name>
    <servlet-name>StudentSelect1Servlet</servlet-name>
    <servlet-class>com.wax.servlet.StudentSelect1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSelect1Servlet</servlet-name>
    <url-pattern>/StudentSelect1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadReportServlet</display-name>
    <servlet-name>LoadReportServlet</servlet-name>
    <servlet-class>com.wax.servlet.LoadReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadReportServlet</servlet-name>
    <url-pattern>/LoadReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassSelectServlet</display-name>
    <servlet-name>ClassSelectServlet</servlet-name>
    <servlet-class>com.wax.servlet.ClassSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassSelectServlet</servlet-name>
    <url-pattern>/ClassSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassDeleteServlet</display-name>
    <servlet-name>ClassDeleteServlet</servlet-name>
    <servlet-class>com.wax.servlet.ClassDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDeleteServlet</servlet-name>
    <url-pattern>/ClassDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassUpdateServlet</display-name>
    <servlet-name>ClassUpdateServlet</servlet-name>
    <servlet-class>com.wax.servlet.ClassUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassUpdateServlet</servlet-name>
    <url-pattern>/ClassUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAddTopicServlet</display-name>
    <servlet-name>TeacherAddTopicServlet</servlet-name>
    <servlet-class>com.wax.servlet.TeacherAddTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAddTopicServlet</servlet-name>
    <url-pattern>/TeacherAddTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadTopicServlet</display-name>
    <servlet-name>LoadTopicServlet</servlet-name>
    <servlet-class>com.wax.servlet.LoadTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadTopicServlet</servlet-name>
    <url-pattern>/LoadTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicSelectTeacherServlet</display-name>
    <servlet-name>TopicSelectTeacherServlet</servlet-name>
    <servlet-class>com.wax.servlet.TopicSelectTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicSelectTeacherServlet</servlet-name>
    <url-pattern>/TopicSelectTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicSelectUpdate</display-name>
    <servlet-name>TopicSelectUpdate</servlet-name>
    <servlet-class>com.wax.servlet.TopicSelectUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicSelectUpdate</servlet-name>
    <url-pattern>/TopicSelectUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicToTeacherServlet</display-name>
    <servlet-name>TopicToTeacherServlet</servlet-name>
    <servlet-class>com.wax.servlet.TopicToTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicToTeacherServlet</servlet-name>
    <url-pattern>/TopicToTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicDeleteServlet</display-name>
    <servlet-name>TopicDeleteServlet</servlet-name>
    <servlet-class>com.wax.servlet.TopicDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicDeleteServlet</servlet-name>
    <url-pattern>/TopicDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicUpdateServlet</display-name>
    <servlet-name>TopicUpdateServlet</servlet-name>
    <servlet-class>com.wax.servlet.TopicUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicUpdateServlet</servlet-name>
    <url-pattern>/TopicUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicAddServlet</display-name>
    <servlet-name>TopicAddServlet</servlet-name>
    <servlet-class>com.wax.servlet.TopicAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicAddServlet</servlet-name>
    <url-pattern>/TopicAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseAddServlet</display-name>
    <servlet-name>CourseAddServlet</servlet-name>
    <servlet-class>com.wax.servlet.CourseAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAddServlet</servlet-name>
    <url-pattern>/CourseAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFileServlet</display-name>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>com.wax.servlet.ListFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/ListFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListClassServlet</display-name>
    <servlet-name>ListClassServlet</servlet-name>
    <servlet-class>com.wax.servlet.ListClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListClassServlet</servlet-name>
    <url-pattern>/ListClassServlet</url-pattern>
  </servlet-mapping>
</web-app>